* text=auto

*.toml text eol=lf
*.pw.toml text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.jsonc text eol=lf
*.snbt text eol=lf
*.cfg text eol=lf
*.properties text eol=lf
*.js text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.jar binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.ogg binary
*.mp3 binary
